@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .bg-christmas-gradient {
    background: linear-gradient(to bottom, #1a472a, #0f172a);
  }
}
